<nav class="navbar navbar-expand navbar-dark my-navbar fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/">April Li Portfolio</a>
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link px-2" href="/projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link px-2" href="/resume.html">Resume</a></li>
            <li class="nav-item"><a class="nav-link px-2" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>