.hero {
    padding-top: 120px;
    padding-bottom: 80px;
}

.hero-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

.project-card {
    margin-bottom: 20px;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#contact {
  margin-top: auto; /* pushes footer to bottom */
}


